{% extends "page.html" %}

{% block content %}
  <!-- Post content -->
  <main class="content" role="main">
      <article class="post">
      <div class="inner">
          <section class="post-content">
                {% for author in page.authors %}
                {% if AUTHORS_BIO and author.name.lower() in AUTHORS_BIO %}
                <aside class="post-author notopborder">
                    {% set author_name = AUTHORS_BIO[author.name.lower()].name or author.name %}
                    {% set author_avatar = AUTHORS_BIO[author.name.lower()].image %}
                    {% if  author_avatar %}

                        {% if author_avatar|lower|truncate(4, True, '') != "http" %}
                            {% set author_avatar = SITEURL+"/"+author_avatar %}
                        {% endif %}

                        <figure class="post-author-avatar">
                            <img src="{{author_avatar}}" alt="{{author_name}}" />
                        </figure>
                    {% endif %}
                    <div class="post-author-bio">
                        <h4 class="post-author-name">
                            <!-- <a href="{{ SITEURL }}/{{author.url}}"> -->
                                {{author_name}}
                            <!-- </a> -->
                        </h4>
                        {% if AUTHORS_BIO[author.name.lower()].bio %}
                            <p class="post-author-about">{{AUTHORS_BIO[author.name.lower()].bio}}</p>
                        {% endif %}
                        {% if AUTHORS_BIO[author.name.lower()].location %}
                            <span class="post-author-location"><i class="ic ic-location"></i> {{AUTHORS_BIO[author.name.lower()].location}}</span>
                        {% endif %}
                        {% if AUTHORS_BIO[author.name.lower()].website %}
                            <span class="post-author-website"><a href="{{AUTHORS_BIO[author.name.lower()].website}}"><i class="ic ic-link"></i> Website</a></span>
                        {% endif %}
                        <!-- Social linkes in alphabet order. -->
                        {% if AUTHORS_BIO[author.name.lower()].facebook %}
                            <span class="post-author-facebook"><a target="_blank" href="https://facebook.com/{{AUTHORS_BIO[author.name.lower()].facebook}}"><i class="ic ic-facebook"></i> Facebook</a></span>
                        {% endif %}
                        {% if AUTHORS_BIO[author.name.lower()].github %}
                            <span class="post-author-github"><a target="_blank" href="https://github.com/{{AUTHORS_BIO[author.name.lower()].github}}"><i class="ic ic-link"></i> GitHub</a></span>
                        {% endif %}
                        {% if AUTHORS_BIO[author.name.lower()].gitlab %}
                            <span class="post-author-gitlab"><a target="_blank" href="https://gitlab.com/{{AUTHORS_BIO[author.name.lower()].gitlab}}"><i class="ic ic-link"></i> Gitlab</a></span>
                        {% endif %}
                        {% if AUTHORS_BIO[author.name.lower()].googlescholar %}
                            <span class="post-author-googlescholar"><a target="_blank" href="https://scholar.google.com/citations?user={{AUTHORS_BIO[author.name.lower()].googlescholar}}"><i class="ic ic-link"></i> Google Scholar</a></span>
                        {% endif %}
                        {% if AUTHORS_BIO[author.name.lower()].linkedin %}
                            <span class="post-author-linkedin"><a target="_blank" href="https://www.linkedin.com/in/{{AUTHORS_BIO[author.name.lower()].linkedin}}"><i class="ic ic-link"></i> LinkedIn</a></span>
                        {% endif %}
                        {% if AUTHORS_BIO[author.name.lower()].mastodon %}
                            <span class="post-author-mastodon"><a target="_blank" href="https://{{AUTHORS_BIO[author.name.lower()].mastodon.instance}}/@{{AUTHORS_BIO[author.name.lower()].mastodon.handle}}"><i class="ic ic-link"></i> Mastodon</a></span>
                        {% endif %}
                        {% if AUTHORS_BIO[author.name.lower()].orcid %}
                            <span class="post-author-orcid"><a target="_blank" href="https://orcid.org/{{AUTHORS_BIO[author.name.lower()].orcid}}"><i class="ic ic-link"></i> ORCID</a></span>
                        {% endif %}
                        {% if AUTHORS_BIO[author.name.lower()].twitter %}
                            <span class="post-author-twitter"><a target="_blank" href="https://twitter.com/{{AUTHORS_BIO[author.name.lower()].twitter}}"><i class="ic ic-twitter"></i> Twitter</a></span>
                        {% endif %}
                    </div>
                    <div class="clear"></div>
                </aside>
                {% endif %}
                {% endfor %}
              
              {{page.content}}
          </section>
      </div>
      </article>
  </main>
{% endblock content %}
